@model IEnumerable<SistemaDeContatos.Models.Entities.Usuario>

@{
    ViewData["title"] = "Usuarios";
}



<a class="btn btn-success" asp-action="Create" asp-controller="Usuario">Cadastrar novo Usuario</a>

<br />
@if (TempData["alertSucess"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-close btn-sm close-alert" arial-label="Close"></button>
        @TempData["alertSucess"];
    </div>
}


@if (TempData["alertError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close"></button>
        @TempData["alertError"];
    </div>
}

<br />

<div>
    <table class="table table-striped table-hover" id="table-usuarios" width="100%">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(s => s.Nome)</th>
                <th>@Html.DisplayNameFor(s => s.Login)</th>
                <th>@Html.DisplayNameFor(s => s.Email)</th>
                <th>@Html.DisplayNameFor(s => s.Perfil)</th>
                <th>@Html.DisplayNameFor(s => s.DataCriacao)</th>
                <th>@Html.DisplayNameFor(s => s.DataAtualizacao)</th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => usuario.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.Login)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.Email)</td>
                    <td>@(usuario.Perfil == SistemaDeContatos.Models.Enums.PerfilEnum.Admin? "Admin":"Padrão")</td>
                    <td>@Html.DisplayFor(modelItem => usuario.DataCriacao)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.DataAtualizacao)</td>
                    <td>
                        <a role="link" asp-action="Edit" asp-controller="Usuario" asp-route-id="@usuario.Id">Editar</a>
                        <a role="link" asp-action="Delet" asp-controller="Usuario" asp-route-id="@usuario.Id">Deletar</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
